# Mac OS
.DS_Store

# WebStorm
.idea/workspace.xml

# npm
node_modules/**/.bin

# Karma binaries
node_modules/karma/node_modules/chokidar/node_modules/fsevents/lib/

# Build directory which is generated

build
